@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<style>
body {
        background-image: url(../../Details/images/white.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>

</body>