@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title the Plocker Application</h2>
<head>
    <style>
        body {
            background-image: url(../../Details/images/white.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>

<p>Plocker is a web-based application that manages the user’s online credentials, such as User Id and Password, across different sites. </p>
<p>The application can be accessed online and allows the user to store their login credentials and security questions for numerous sites along with a links to those sites</p>
<p>You can view the full report here >> <a href="https://people.rit.edu/~sk9040/Capstone%20Project/plocker-password-manager-filename.pdf">Plocker Report</a>.</p>

</body>