@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Page</h2>
<h3>Sree Lakshmi Kurra</h3>

<head>
    <style>
        body {
            background-image: url(../../Details/images/white.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <address>
        24 East Squire dr, Apt #3,<br />
        Rustic Village, Rochester, NY 14623<br />
        <abbr title="Phone">Phone:</abbr>
        978.884.9176
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:shrillkurra@gmail.com">shrillkurra@gmail.com</a><br />
    </address>
</body>