@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <style>
        body {
            background-image: url(../../Details/images/white.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        h1 {
            text-align: center;
            padding-top: 2cm;
            padding-bottom: 2cm;
            text-shadow: 2px 2px gray;
            
        }
        #para1 {
            padding-left:23cm;
            color:darkorange;
            font:bold;
            font-size:18px;
        }
    </style>
</head>
<body>

    <h1 style=font-size:100px> Plocker: The Password Manager   </h1>

        <p id="para1" >Login/Register to the application</p>

</body>
</html>